<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}微电网能量管理系统{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% block custom_css %}{% endblock %}
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block custom_js %}{% endblock %}
</head>
<body>
    <!-- 页头导航区 -->
    <header class="navbar navbar-inverse" style="margin-bottom: 0;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: whitesmoke" href="#">微电网能量管理系统</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if request.user.is_authenticated %}<!-- 判断用户处于登录状态 -->
                        <a href="#">Hello! &nbsp; {{ request.user }}</a>
                    {% endif %}
                </li>
                <li>
                    {% if request.user.is_authenticated %}<!-- 判断用户处于登录状态 -->
                        <a href="{% url 'logout' %}">登出</a>
                    {% else %}
                        <a href="{% url 'login' %}">游客请登录</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </header>
    {% block nav2 %}
        <!-- 导航二级 -->
        <nav class="nav" style="margin-bottom: 30px">
            <div class="container" style="box-shadow: 0px 0px 10px #6bef15;">
            <div class="col-sm-4"></div>
            <ul class="nav nav-pills col-sm-4">
                <li {% if nav == 1 %}class="active"{% endif %}>
                    <a href="{% url 'overview' %}">电站总览</a>
                </li>
                <li {% if nav == 2 %}class="active"{% endif %}>
                    <a href="{% url 'device' %}">设备管理</a>
                </li>
                <li {% if nav == 3 %}class="active"{% endif %}>
                    <a href="#">报警管理</a>
                </li>
                <li {% if nav == 4 %}class="active"{% endif %}>
                    <a href="#">数据下载</a>
                </li>
            </ul>
            <ul class="nav nav-pills navbar-right col-sm-2">
                <li>
                    <a href="/xadmin/">后台管理</a>
                </li>
            </ul>
            </div>
        </nav>
    {% endblock %}
    <!-- 内容区 -->
    {% block content %}
    {% endblock %}
<footer style="margin-top: 40px;background-color: black">
    <div class="container">
        <h5 align="center" style="color: whitesmoke"><span class="glyphicon glyphicon-certificate"></span>&nbsp;微电网管理系统</h5>
        <h6 align="center" style="color: whitesmoke"><a href="https://www.jdcloud.com/index" style="color: whitesmoke">京东云</a>提供云计算服务</h6>
    </div>
</footer>
</body>
</html>