{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}电站总览{% endblock %}
{% block custom_css %}
<link href="{% static 'css/mic.css' %}" rel="stylesheet">
{% endblock %}
{% block custom_js %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="over-left">
            <div class="over-box1">

            </div>
        </div>
        <div class="over-middle">
            <div class="over-box2">

            </div>
            <div class="over-box3">

            </div>
        </div>
    </div>
{% endblock %}